@model ControlsTest.Models.ProductlistViewModel
@using ControlsTest.Controllers
@{
    ViewData["Title"] = "Edit immediate";
    if(Model.Query.AttachedTo == null)
    {
        Model.Query.AttachEndpoint(Url.Action("IndexEdit", "GridTest"));

    }
}
<style>
    tfoot .pagination, thead .pagination {
        margin: 0;
    }

    .full-cell {
        
        width: 100%;
    }

    table .input-validation-error {
        border: 1px solid red;
        background-color: mistyrose;
    }
</style>
<h2>@ViewData["Title"].</h2>
<div >
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-antiforgery="true">
        <div asp-validation-summary="All" class="text-danger"></div>
        <grid id="main_grid" asp-for="Products.Data"
              type="Immediate"
              all-properties="true"
              mvc-controller="typeof(GridTestController)"
              row-id="immediate-example"
              operations="x => Functionalities.FullInLine | Functionalities.AddBefore | Functionalities.AddAfter"
              class="table table-condensed table-bordered"
              query-for="Query"
              enable-query="true">
            <column asp-for="Products.Data.Element().TypeId">
                <external-key-static display-property="Products.Data.Element().TypeName" />
                @*<external-key-static display-property="Products.Data.Element().TypeName"
                    items-selector="@getTasks"
                    items-value-property="Value"
                    items-display-property="Display"
                     />*@
                <external-key-remote display-property="Products.Data.Element().TypeName"
                                     items-value-property="Value"
                                     items-display-property="Display"
                                     items-url="@(Url.Action("GetTypes", "DetailTest", new { search = "_zzz_" }))"
                                     dataset-name="product-types"
                                     url-token="_zzz_"
                                     max-results="20" />
            </column> />
            <column asp-for="Products.Data.Element().Price" colspan="2" />
            <row-type asp-for="Products.Data.SubInfo<ProductMaintenanceViewModel>().Model"
                      mvc-controller="typeof(GridTestController)"
                      from-row="0">
                <column asp-for="Products.Data.Element().Price" colspan="1" />
                <column asp-for="Products.Data.SubElement<ProductMaintenanceViewModel>().MaintenanceYearlyRate" />
            </row-type>
            <toolbar zone-name="@LayoutStandardPlaces.Header">
                <div class="row">

                    <div class="col-xs-4">
                        <copy-html name="main-pager">
                            <pager 
                                   class="pagination pagination-sm"
                                   max-pages="4"
                                   page-size-default="3"
                                   total-pages="Products.TotalPages"
                                   current-query="Query"/>
                        </copy-html>
                        
                    </div>
                    <div class="col-xs-8">
                        
                        <button type="button" data-operation="add append 0" class="btn btn-sm btn-primary">nuovo prodotto</button>
                        <button type="button" data-operation="add append 1" class="btn btn-sm btn-primary">nuovo prodotto con manutenzione</button>
                        <button type="button" data-operation="add prepend 0" class="btn btn-sm btn-primary">nuovo prodotto (prep)</button>
                        <button type="button" data-operation="add prepend 1" class="btn btn-sm btn-primary">nuovo prodotto con manutenzione (prep)</button>
                    </div>
                </div>
                <query  type="Filtering" />
                <query  type="Sorting" />
                <query  type="Grouping" />
            </toolbar>
            <toolbar zone-name="@LayoutStandardPlaces.Footer">
                <paste-html name="main-pager" />
            </toolbar>
        </grid>
        <div class="form-group col-xs-12">
            <button type="button" data-operation="add append 0" class="btn btn-primary" data-target="main_grid" data-control-type="server-immediate-grid">nuovo prodotto</button>
            <button type="button" data-operation="add append 1" class="btn btn-primary" data-target="main_grid" data-control-type="server-immediate-grid">nuovo prodotto con manutenzione</button>
            <button type="button" data-operation="add prepend 0" class="btn btn-primary" data-target="main_grid" data-control-type="server-immediate-grid">nuovo prodotto (prep)</button>
            <button type="button" data-operation="add prepend 1" class="btn btn-primary" data-target="main_grid" data-control-type="server-immediate-grid">nuovo prodotto con manutenzione (prep)</button>
            
        </div>
    </form>

</div>

@section Scripts {
    @*<link href="~/lib/mvcct-controls-server/modules-bootstrap/typeaheadjs3.css" rel="stylesheet" />
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            <script src="~/lib/corejs-typeahead/dist/typeahead.bundle.js"></script>
        <script src="~/lib/mvcct-controls-server/mvcct.controls.server.js"></script>
        <script src="~/lib/mvcct-controls-server/modules-bootstrap/mvcct.controls.server.autocomplete.js"></script>*@

    <link href="~/lib/awesomplete/awesomplete.css" rel="stylesheet" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/awesomplete/awesomplete.min.js"></script>
    <script src="~/lib/mvcct-controls/mvcct.controls.min.js"></script>
    <script src="~/lib/mvcct-controls/modules/mvcct.controls.autocomplete.min.js"></script>
    <script src="~/lib/mvcct-controls/modules/mvcct.controls.ajax.min.js"></script>
    <script src="~/lib/mvcct-controls/modules/mvcct.controls.serverGrid.min.js"></script>
}
