@model ControlsTest.Models.ProductViewModelDetail
@using System.Collections
@using ControlsTest.Controllers
@using MvcControlsToolkit.Core.Templates
@{
    ViewData["Title"] = "Edit Detail test";
    Func<object, Task<IEnumerable>> getTasks = async x => ViewData["AllTypes"] as IEnumerable;
}
<h2>@ViewData["Title"].</h2>

<detail-form asp-for="@(Model.SubInfo<ProductViewModelDetail>().Model)" 
             all-properties="true" 
             edit-mode-default="true" 
             form-method="POST"
             form-action="@Url.Action("Edit", "DetailTest")"
             
             >
    <column asp-for="TypeId">
        @*<external-key-static display-property="TypeName" 
                             items-selector="@getTasks"
                             items-value-property="Value"
                             items-display-property="Display"
                              />*@
        <external-key-remote display-property="TypeName"
                             items-value-property="Value"
                             items-display-property="Display"
                             items-url="@(Url.Action("GetTypes", "DetailTest", new { search = "_zzz_" }))"
                             dataset-name="product-types"
                             url-token="_zzz_"
                             max-results="20" />                      
    </column> 
    <column asp-for="Description">
        <asp-template type="Edit">
        @{ {
        var Model = Html.Item<string>();
        var rc = Html.Options<Column>();
        <div class="form-group col-xs-12">
                <label asp-for="@Model" ></label>
                <textarea class="form-control" asp-for="@Model"></textarea>
                <span asp-validation-for="@Model" class="text-danger"></span>
          
        </div>
        } }
    </asp-template>
        
    </column>
    <row-type asp-for="@(Model.SubInfo<ProductMaintenanceViewModelDetail>().Model)" from-row="0">
        <column asp-for="Price" detail-widths="new decimal[] {30, 15 }" />
        <column asp-for="@((Model as ProductMaintenanceViewModelDetail).MaintenanceYearlyRate)" />
    </row-type>
</detail-form>
@section Scripts {
    @*<link href="~/lib/mvcct-controls-server/modules-bootstrap/typeaheadjs3.css" rel="stylesheet" />
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            <script src="~/lib/corejs-typeahead/dist/typeahead.bundle.js"></script>
        <script src="~/lib/mvcct-controls-server/mvcct.controls.server.js"></script>
        <script src="~/lib/mvcct-controls-server/modules-bootstrap/mvcct.controls.server.autocomplete.js"></script>*@

    <link href="~/lib/awesomplete/awesomplete.css" rel="stylesheet" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/awesomplete/awesomplete.min.js"></script>
    <script src="~/lib/mvcct-controls/mvcct.controls.js"></script>
    <script src="~/lib/mvcct-controls/modules/mvcct.controls.autocomplete.js"></script>
}
