@model Object
@using MvcControlsToolkit.Core.Templates
@using MvcControlsToolkit.Core.TagHelpers
@using MvcControlsToolkit.Core.Views
@using Microsoft.Extensions.Localization
@using System.Globalization
@{
    var options = ViewData["Options"] as DefaultServerDetailLayoutOptions;
    var helpers = new ContextualizedHelpers(ViewContext, Html, User, Component, Url, ViewData["LocalizerFactory"] as IStringLocalizerFactory);   
}
@if (options.EditMode)
{
    <form @(options.Id != null ? "id='"+options.Id+"'")
          class="@(options.CssClass??"form-horizontal")"
          action="@(options.FormAction??string.Empty)"
          method="@(options.FormMethod??"POST")"
          asp-antiforgery="@options.Antiforgery">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @options.MainContent
    </form>
}
else
{
    <div @(options.Id != null ? "id='"+options.Id+"'")
         class="@(options.CssClass??"form-horizontal")">
        @options.MainContent
    </div>
}


