@model Object
@using MvcControlsToolkit.Core.Templates
@using Microsoft.Extensions.Options
@using System.Text
@using System.Globalization
@inject IOptions<MvcViewOptions> optionsAccessor
@inject IHtmlGenerator generator
@{
    var metaData = ViewData.ModelMetadata;
    var col = ViewData["Options"] as Column;
    var IdAttributeDotReplacement = optionsAccessor.Value.HtmlHelperOptions.IdAttributeDotReplacement;
    

}
<div class="@col.GetTotalClass(SupportedGridSystems.Bootstrap3, true)">
    @if (col.ColumnConnection != null)
    {
        if (col.ColumnConnection is ColumnConnectionInfosStatic)
        {
            var infos = col.ColumnConnection as ColumnConnectionInfosStatic;
            var items = await infos.GetItems(Context.RequestServices, User);
            <label asp-for="@Model" class="control-label">@col.ColumnTitle</label>
            <select asp-for="@Model" asp-items="@(new SelectList(items, infos.ItemsValueProperty, infos.ItemsDisplayProperty))"
                    class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")">
                @if (col.PlaceHolder != null)
                {
                    <option value="">@col.PlaceHolder</option>
                }
            </select>
            <span asp-validation-for="@Model" class="text-danger"></span>
        }
        else
        {
            var infos = col.ColumnConnection as ColumnConnectionInfosOnLine;
            var provider = infos.SuggestionsProvider(Context.RequestServices);
            var tagBuilder = generator.GenerateValidationMessage(ViewContext, col.For.ModelExplorer, col.For.Name, null, "span", null);
            tagBuilder.AddCssClass("text-danger");
            <label for="@TagBuilder.CreateSanitizedId(ViewData.TemplateInfo.GetFullHtmlFieldName(infos.DisplayProperty.Name), IdAttributeDotReplacement)" class="control-label">
                @col.ColumnTitle
            </label>
            <autocomplete for-explorer="@ViewData.ModelExplorer.GetExplorerForProperty(col.For.Name)"
                          display-explorer="@ViewData.ModelExplorer.GetExplorerForProperty(infos.DisplayProperty.Name)"
                          for-expression-override="@col.For.Name"
                          display-expression-override="@infos.DisplayProperty.Name"
                          items-display-property="@infos.ItemsDisplayProperty"
                          items-value-property="@infos.ItemsValueProperty"
                          items-url="@provider.GetDisplayValueSuggestionsUrl(Url)"
                          url-token="@provider.DisplayValueSuggestionsUrlToken"
                          dataset-name="@infos.DataSetName"
                          max-results="@infos.MaxResults"
                          class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")" />

            tagBuilder.WriteTo(ViewContext.Writer, HtmlEncoder);
        }

    }
    else if (metaData.UnderlyingOrModelType == typeof(bool))
    {
        <label asp-for="@Model">@col.ColumnTitle</label>
        <p @Html.Raw("class='" + (col.CheckboxDetailCssClass != null ? col.CheckboxDetailCssClass : "form-control-static") + "'")>
            <input asp-for="@Model" type="checkbox"  />
        </p>


    }
    else if (metaData.IsEnum)
    {
        
        
        <label asp-for="@Model">@col.ColumnTitle</label>
            <select asp-for="@Model" asp-items="@Html.GetEnumSelectList(metaData.ModelType)" class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")">
                @if (col.PlaceHolder != null)
                {
                    <option value="">@col.PlaceHolder</option>
                }
            </select>
            <span asp-validation-for="@Model" class="text-danger"></span>
            }
    else
    {
    <label asp-for="@Model">@col.ColumnTitle</label>
    <input asp-for="@Model" placeholder="@col.PlaceHolder" class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")" />
    <span asp-validation-for="@Model" class="text-danger"></span>
    }
</div>


