@model Object
@using MvcControlsToolkit.Core.Templates
@using MvcControlsToolkit.Core.Views
@{
    var metaData = ViewData.ModelMetadata;
    var col = ViewData["Options"] as Column;
}
@if (col.ColumnConnection != null)
{
    if (col.ColumnConnection.QueryDisplay)
    {
        <input asp-for="@Model" placeholder="@col.PlaceHolder" class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")" />
        <span asp-validation-for="@Model" class="text-danger"></span>

    }
    else if (col.ColumnConnection is ColumnConnectionInfosStatic)
    {
        var infos = col.ColumnConnection as ColumnConnectionInfosStatic;
        <select asp-for="@Model" asp-items="@(new SelectList(await infos.ItemsSelector(User), infos.ItemsValueProperty, infos.ItemsDisplayProperty))"
                class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")">
            @if (col.PlaceHolder != null)
            {
                <option value="">@col.PlaceHolder</option>
            }
        </select>
        <span asp-validation-for="@Model" class="text-danger"></span>
    }
    else
    {
        var infos = col.ColumnConnection as ColumnConnectionInfosOnLine;

        <autocomplete for-explorer="@ViewData.ModelExplorer.GetExplorerForProperty(col.For.Name)"
                      display-explorer="@ViewData.ModelExplorer.GetExplorerForProperty(infos.DisplayProperty.Name)"
                      for-expression-override="@col.For.Name"
                      display-expression-override="@infos.DisplayProperty.Name"
                      items-display-property="@infos.ItemsDisplayProperty"
                      items-value-property="@infos.ItemsValueProperty"
                      items-url="@infos.ItemsUrl"
                      url-token="@infos.UrlToken"
                      dataset-name="@infos.DataSetName"
                      max-results="@infos.MaxResults"
                      class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")" />
    }

}
else if (metaData.UnderlyingOrModelType == typeof(bool))
{
    <p @Html.Raw("class='" + (col.CheckboxDetailCssClass != null ? col.CheckboxDetailCssClass : "form-control-static") + "'")>
        <input asp-for="@Model" type="checkbox" />
    </p>
}
else if (metaData.IsEnum)
{
    <select asp-for="@Model" asp-items="@Html.GetEnumSelectList(metaData.ModelType)" class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")">
        @if (col.PlaceHolder != null)
                {
            <option value="">@col.PlaceHolder</option>
        }
    </select>
    <span asp-validation-for="@Model" class="text-danger"></span>
}
else
{
    <input asp-for="@Model" placeholder="@col.PlaceHolder" class="@(!string.IsNullOrEmpty(col.InputDetailCssClass) ? col.InputDetailCssClass : "form-control")" />
    <span asp-validation-for="@Model" class="text-danger"></span>
}

