@model Object
@using MvcControlsToolkit.Core.Templates
@using MvcControlsToolkit.Core.TagHelpers
@using MvcControlsToolkit.Core.Views
@using Microsoft.Extensions.Localization
@using System.Globalization
@{
    var row = ViewData["Options"] as RowType;
    var helpers = new ContextualizedHelpers(ViewContext, Html, User, Component, Url, ViewData["LocalizerFactory"] as IStringLocalizerFactory);
    bool hiddensToRender = true;
    var query = TagContextHelper.GetBindingContext(ViewContext.HttpContext, BindingContextNames.Query)?.Model as QueryDescription;
}
<tr tabindex="-1" @row.RenderRowAttributes(Model)>
    @if (row.MustAddButtonColumn(helpers, query, true))
    {
        var buttons = row.RequiredFunctionalitiesExt(User, query);
        var currProvider = ViewContext.TagHelperProvider();
        var localizer = row.GetLocalizer(helpers.LocalizerFactory);
        <td class="grid-buttons">
            @if (Model != null)
            {
                if ((buttons & Functionalities.ShowDetail) > 0)
                {
                    @currProvider.RenderButton(StandardButtons.ShowDetail, null, "btn-default btn-xs", helpers, localizer)
                }
                if ((buttons & Functionalities.EditDetail) > 0)
                {
                    @currProvider.RenderButton(StandardButtons.EditDetail, null, "btn-default btn-xs", helpers, localizer)
                }
                if ((buttons & Functionalities.AddBefore) > 0)
                {
                    @currProvider.RenderButton(StandardButtons.AddBefore, null, "btn-default btn-xs", helpers, localizer)
                }
                if ((buttons & Functionalities.AddAfter) > 0)
                {
                    @currProvider.RenderButton(StandardButtons.AddAfter, null, "btn-default btn-xs", helpers, localizer)
                }
                if ((buttons & Functionalities.AddBeforeDetail) > 0)
                {
                    @currProvider.RenderButton(StandardButtons.AddBeforeDetail, null, "btn-default btn-xs", helpers, localizer)
                }
                if ((buttons & Functionalities.AddAfterDetail) > 0)
                {
                    @currProvider.RenderButton(StandardButtons.AddAfterDetail, null, "btn-default btn-xs", helpers, localizer)
                }
            }
            @if ((buttons & Functionalities.Delete) > 0)
            {
                @currProvider.RenderButton(StandardButtons.Delete, null, "btn-default btn-xs", helpers, localizer)
            }
            @if ((buttons & Functionalities.GroupDetail) > 0)
            {
                @currProvider.RenderButton(StandardButtons.GroupDetail, query.GetGroupDetailUrl(row.For.Metadata.ModelType, Model) +
                    query.AttachedTo?.AjaxId == null ? string.Empty : " " + query.AttachedTo.AjaxId,
                        "btn-default btn-xs", helpers, localizer)
            }
            @if ((buttons & Functionalities.GroupDetailNew) > 0)
            {
                @currProvider.RenderButton(StandardButtons.GroupDetail, query.GetGroupDetailUrl(row.For.Metadata.ModelType, Model) +
                     " #",
                     "btn-default btn-xs", helpers, localizer)
            }
        </td>
    }
    @foreach(var col in row.ColumnsToRender(query))
    {
            <td @Html.Raw(col.ColumnCssClass != null ? "class='" +col.ColumnCssClass+"'": "")
                @Html.Raw(col.ColSpan.HasValue ? "colspan='"+col.ColSpan.Value.ToString(CultureInfo.InvariantCulture)+"'" : "")>
                @await row.RenderColumn(Model,col,!col.ReadOnly,helpers)
                @if (hiddensToRender)
                {
                    hiddensToRender = false;
                    @row.RenderHiddens(helpers, Model)

                }
            </td>
     }
    
</tr>


